streamlit==1.45.1
pandas==2.1.3
#plotly==5.15.0
scikit-learn==1.5.1
imbalanced-learn==0.12.3
joblib==1.4.2
textblob==0.17.1
matplotlib==3.7.0
seaborn==0.12.2
numpy==1.23.5
python-dateutil==2.8.2  # Often needed for pandas
